/* This is how you comment */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

html {
    box-sizing: border-box;
    font-size: 18px;
}

header {
    font-family: "Open Sans", sans-serif;
    background-color: black;
    box-sizing: inherit;
    width: 99vw;
    margin: 1px;
}
header a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 2.5rem;
}
header>a:hover {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
}
@media screen and (max-width: 600px) {
    header .title {
        font-size: 10vw;
    }
}

.topnav {
    right: 5px;
    font-family: "Open Sans", sans-serif;
    display: block;
    float: right;
    padding-top: 7px;
    overflow: hidden;
}
.topnav a {
    font-size: 1.3rem;
    padding: 5px 10px;
    margin: 1px;
    border-left: 1px solid white;
    display: block;
    float: left;
}
.topnav a:hover {
    border-left: solid white;
    text-shadow: 2px 2px 3px #9d2d2d;
}
.topnav .icon {
    display: none;
}
@media screen and (max-width: 600px) {
    .topnav a {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}

body {
    background-color: black;
}
.gradient {
    background: linear-gradient(156deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 38%, rgb(82, 84, 84) 100%);
}

ol,ul,dl {
    font-family: "Open Sans", sans-serif;
    color: white;
    font-size: 1rem;
    line-height: 1.5;
    list-style-position: inside;
    display: block;
}
:where(main ol, main ul) {
    margin-inline-start: 0;
    padding-inline-start: 40px;
}

hr {
    width: 50%;
    border-width: 1px;
    color: white;
    background: none;
}
  
ul {
    list-style-type: disc;
}
ol {
    list-style-type: decimal;
}

a,p,td {
    font-family: "Open Sans", sans-serif;
    color: white;
    font-size: 1rem;
    line-height: 1.5;
}


#img-txt {
    margin: 7px;
    display: block;
    float: left;
    width: 300px;
    height: auto;
}
.repeat {
    background-image: url(images/roberto-mochetti-singing.JPG);
    background-size: contain;
    height: 300px;
    background-repeat: repeat-x;
    margin-bottom: 20px;
}


/* table (CV) style */
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: none;
    }
    thead th:nth-child(1) {
    width: 30%;
    }
    thead th:nth-child(2) {
    width: 20%;
    }
    thead th:nth-child(3) {
    width: 15%;
    }
    thead th:nth-child(4) {
    width: 35%;
    }
    th,td {
    padding: 8px 10px;
    font-family: "Open Sans", sans-serif;
    color: white;
    font-size: 1rem;
    line-height: 1.5;
    }
    th {
    text-decoration: underline white;
    }
    tbody tr:nth-child(odd) {
    background-color: rgba(0,0,0,0.7);
    }


a:hover {
    color: #9d2d2d;
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    padding-top: 30px;
    line-height: 1.3;
}
h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    display: inline;
}
h3 {
    font-family: "Open Sans", sans-serif;
    color: white;
    text-align: center;
    font-size: 1.2rem;
}

div a {
    text-decoration: none;
}
.banner {
    display: inline-block;
    position: relative;
    text-align: center;
    color: white;
    font-size: 4rem;
    box-sizing: inherit;
}
.banner-text1 {
    font-family: "Open Sans", sans-serif;
    position: absolute;
    top: 25%;
    right: 5%;
}
.banner-text2 {
    font-family: "sacramento", cursive;
    position: absolute;
    top: 35%;
    right: 5%;
}
@media screen and (max-width: 600px) {
    .banner {
        font-size: 12vw;
    }
    .banner-text1 {
        position: absolute;
        top: 10%;
    }
    .banner-text2 {
        position: absolute;
        font-size: 10vw;
        top: 80%;
        right: 5%;
    }
}

.contrast {
    color: #9d2d2d;
}

.card-normal {
    border: 3px solid #9d2d2d;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    display: block;
    box-sizing: inherit;
    background-color: rgba(0,0,0,0.3);
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 0px;
    margin-bottom: 10px;
}
.card-normal ul {
    text-decoration: underline;
}
@media screen and (max-width: 600px) {
    .card-normal {
        margin: 3px;
        padding: 5px;
    } 
}

.card {
    border: 3px solid #9d2d2d;
    border-radius: 10px;
    padding: 7px 14px;
    position: relative;
    margin: 8px;
    box-sizing: inherit;
    background-color: rgba(0,0,0,0.3);
    display: grid;
    align-items: center; 
    grid-template-columns: 20% 80%;
    column-gap: 5px;
    text-decoration: none;
    margin-bottom: 20px;
}
.card:before {
    background: none;
    border: 1px solid #9d2d2d;
    border-radius: 7px;
    content: "";
    display: grid;
    align-items: center; 
    grid-template-columns: 20% 80%;
    column-gap: 5px;
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    pointer-events: none;
}
.card-img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}
.card-txt {
    font-family: "Open Sans", sans-serif;
    color: white;
    padding: 5px;
}
@media screen and (max-width: 750px) {
    .card {
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
    }
    .card:before {
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
    }
}
.button {
    display: inline-block;
    text-decoration: none;
    letter-spacing: 2px;
    color: white;
    border: 3px solid #9d2d2d;
    border-radius: 6px;
    font-size: 14px;
    position: relative;
    font-family: inherit;
    background: transparent;
    cursor: pointer;
    padding: 5px;
    margin: 15px;
}

.foot {
    background-color: black;
    padding: 30px 15px;
    margin: 0;
}
footer p {
    color: rgb(156, 156, 156);
    font-size: 16px;
}
.fa-wrapper {
    display: flex;
    justify-content: center;
    border: none;
    color: #9d2d2d;
    font-size: 5rem;
}
.fa-brands {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 1px;
    margin-bottom: 10px;
}
.fa-wrapper a {
        border: none;
        color: #9d2d2d;
        font-size: 5rem;
}
.text-only {
    margin: 0px 70px;
}
@media screen and (max-width: 600px) {
    .text-only {
        margin: 0px 5px;
    }
}

.yt-works {
    display: flex;
    position: relative;
    margin: 0 auto;
    padding-left: 15px;
    padding-bottom: 33.75%;
    box-sizing: inherit;
    width: 60%;
}
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* making <iframe> work displying two vides side-by-side, unless the screen is too small (https://stackoverflow.com/questions/66752257/responsive-two-iframe-videos-side-by-side)*/
.yt-wrapper {
    max-width: 1400px;
    position: relative;
    margin: 0 auto;
    padding-left: 15px;
}
.yt-standard {
    float: left;
    height: 300px;
    width: 47%;
    margin: 10px;
}
iframe {
    width: 100%;
    height: 100%;
    border: 0;
}
@media (max-width:767px) {
    .yt-standard {
        float: none;
        width: 80%;
        margin: 0 auto;
        padding-bottom: 10px;
    }
}
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}
/*END OF: making <iframe> work displying two vides side-by-side, unless the screen is too small (https://stackoverflow.com/questions/66752257/responsive-two-iframe-videos-side-by-side)*/

.center-image {
    display: block;
    text-align: center;
}
.responsive-img {
    width: 100%;
    height: auto;
    max-width: 650px;
}
figure {
    margin: auto;
}
figcaption {
    color: rgb(156, 156, 156);
    font-size: 1rem;
    background-color: rgba(0,0,0,0.7);
    margin: 10px 0 10px 0;
}

code {
    background-color: black;
    font-family: "Source Code Pro", monospace;
}
.code-box {
    display: block;
    background-color: black;
    margin: 0 auto;
    width: fit-content;
    border-left: 5px solid white;
    border-top: 2px solid white;
    box-shadow: black 10px 10px 10px;
    padding: 2px 5px;
}